/*added by Gregg */
header { margin-top:22px; font-family: Ubuntu, Arial; }
#content { margin-top:22px;}
.occuprint { border:1px solid #ccc; }
.credit { position:relative; top:-30px; left:8px; color:#999; font-size:12px; font-family: Helvetica, sans-serif; font-weight: 100; }
.credit .small { font-size:9px;}
#articles { padding-top:10px; }
#devnotice { display:none; }
.emphasis { font-size:1.3em; font-weight: bold;}
.mission { font-weight:300; line-height:1.3em;}
#articles { border-top: 2px dotted #CCCCCC; }
article { border-bottom:2px dotted #CCC; margin-bottom: 8px; }
.maintable h4 { font-size:20px; color:#666; margin:0; padding:4px 0 8px; }
.smallcap {font-size:.9em; }
#right h3 { font-size:1.3em; margin-bottom:8px; border-top:2px dotted #ccc; padding-top:6px;  }
.subtext { padding:0 0 4px 12px; font-size:13px; color:#666; }
.sign-up { border-left:7px solid #CCC; padding-left:5px; }
.sign-up input { font-size:16px; color:#ccc; width:180px; font-family: Ubuntu, Arial; font-style: italic;}
.sign-up input[type="submit"] { font-family: arial; font-size:14px; color:#000; width:auto; padding:4px 0 2px; height:27px; -moz-border-radius: 3px; border-radius: 3px; -webkit-border-radius: 3px; padding:4px; border:1px solid #b5b4b4; }
div.container 
{
  height: 1%;
}

div.econtainer:after 
{
content: "."; 
display: block; 
height: 0; 
clear: both;
visibility: hidden;
}

#featurebox { 
	height:287px;
	font-weight:bold;
	margin-bottom:0.5em;
	padding:0px; 
	letter-spacing:-1px;
	font-size:16px;
	border:1px solid #ccc
}
#featurebox a { color:#fee4ca; }
.leftside {
	width:450px;
	float:left;
	}
.rightside { padding:38px 0 0 0px;width:420px; float:right;}
.featurebox h1 { font-size:35px; font-weight:bold; }
#articles h4 { font-size:18px; color:#666; padding-bottom:6px; border-bottom:2px dotted #ccc; margin:0 0 10px; }
td#right { background:#f1f1f1; border-left: 2px dotted #ccc; padding:12px; font-family: Ubuntu, Arial;  }
#right span.bold { font-size:1.2em; font-weight: bold;}
#mission { font-style: italic; }
.button:hover, .words p > a:hover { background: -webkit-gradient(linear, left top, left bottom, from(#afafaf), to(#666666));
    background: -moz-linear-gradient(top,  #afafaf,  #999999);
    color:#FFFFFF;
}
ul#langselect, ul#langselect li { padding:0 !important; margin:0 !important; list-style-type: none !important; }
ul#langselect li { width:100px; float:left; position:relative; }
ul#langselect a { display:block; font-size:11px; text-decoration: none !important; color:#666; background:#FFF; border:1px solid #ccc; padding:4px 10px 4px 6px;}
ul#langselect a.langselect { background:url(/media/img/nav-arrow-down.png) no-repeat right; }
ul#langselect ul { visibility: hidden; position: absolute; height: 0; top: 23px; left: -40px; width: 100px; }
ul#langselect li:hover ul, ul#langselect a:hover ul { visibility:visible; }
ul#langselect ul a { border-width:0 1px 1px; }
form#setlanguage { width:120px; float:right; margin-left:10px; text-align: left; }

#dd li ul { width:140px; background: -webkit-gradient(linear, left top, left bottom, from(#F3F3F3), to(#ffffff));                                                            
    background: -moz-linear-gradient(top,  #FFFFFF,  #f3f3f3);
    text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
    -moz-text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
    -webkit-text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
    border-color: #CCCCCC;
    border-radius: 0px 0px 3px 3px;
    border-style: solid;
    border-width: 1px;
    padding: 4px 0 6px; position: absolute; visibility: hidden; z-index: 100;
    margin-top:-1px; z-index: 0;
    
}
#dd li ul li { border: medium none; float: left;font-size: 12px; padding: 0 8px; text-align: left; width:126px; }
#dd li:hover ul, #dd li a:hover ul { visibility: visible; }


body { margin-left: auto; margin-right: auto; min-width: 850px;
       max-width: 960px; font: 16px Arial, sans-serif; margin-top:22px; }
body p { /* text-align: justify; */ }
h1, h2, h3, h4 { font-family: "Francois One", Ubuntu, Arial,sans-serif; font-weight:normal;line-height: 1em !important;}
nav { font-family: Arial, sans-serif; }
a { text-decoration: none; color:#A00; }
img { border: none; }
h1 { font-size: 1.8em; margin: 0; }
h2 { font-size: 1.3em; /* margin: 0 0; */ }
h1 a { color: black; }
textarea { font-family: Arial, sans-serif; }
code, pre { font: 11px "DejaVu Sans Mono", Monaco, "Courier New", Courier, monospace; }
pre { margin: 0 1em; }

.amp { font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
       font-style: italic; font-size: 1.1em; }

#devnotice { position: absolute; top: 0; left: 0; width: 100%; color: red; font-weight: bold;
             text-align: center; z-order: 666; }

/* header { padding: 0 0 20px 140px; background: url(/media/img/bull128.png?v=2) 5px top no-repeat; } */
/* #navbar ul { margin-top: 0; } */

#brand { font-size: 3em; font-weight: bold; width:500px; float:left; }
#brand a { color: black; }
#brand .red { color: #a00; }
#slogan { margin: 0; font-size: 1.5em; }

#right h2:first-child { margin-top: 0; }
#right p:first-child { margin-top: 0; }

#userbox {
    text-align: right;
    top: 0px;
    right: 0px;
    width: auto;
    padding: 0.5em;
    font-family: Arial, sans-serif; 
    font-size:12px;
    float:right; 
    width:360px;
}

#userbox span { line-height: 2em;}
#notifications {
    position: fixed;
    right: 40px;
    bottom: 0px;
    width: 300px;
    font-size: 0.85em;
    opacity: 0.95;
}
#notifications .info {
    font-weight: bold;
    width: auto;
    padding: 0.5em;
}
#notifications .info span {
    background: white;
    box-shadow: -3px -3px 3px white, 3px 3px 3px white;
    -moz-box-shadow: -3px -3px 3px white, 3px 3px 3px white;
    -webkit-box-shadow: -3px -3px 3px white, 3px 3px 3px white;
}
#notifications .items {
    border: 1px solid #9a9a9a; border-bottom: none; border-top: none;
    overflow: hidden;
    max-height: 300px;
}
#notifications .item {
    cursor: pointer;
    padding: 0.5em;
    background: #333;
    border-bottom: 1px solid #000;
    border-top: 1px solid #666;
    /* text-overflow: ellipsis; */
}
#notifications .item, #notifications a {
    color: white;
    text-shadow: -1px -1px 0px rgba(0,0,0,0.3);
    -moz-text-shadow: -1px -1px 0px rgba(0,0,0,0.3);
    -webkit-text-shadow: -1px -1px 0px rgba(0,0,0,0.3);
}
#notifications .item:hover { background: #900; }
#notifications .item a { display: block; }
#notifications .item span { display: block; font-size: 0.8em; color: #ccc; }

#fist { float: left; margin-right: 5px; margin-left: 10px; }

#navbar ul {
    font-size: 1em;
    padding: 0;
    width: 500px;
    margin:0;
    float: left;
    white-space: nowrap;
}

#navbar li {
    display: inline;
    padding: 0;
    margin: .3em .7em 0 0;
    float: left;
}
#navbar li.first { border-left: none; }
#navbar li.last { border-right: none; }

#navbar ul#dd li.item a {
    display: block;
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
    padding: .02em .5em 0.02em 0.5em;
    border:1px solid transparent;
}
#navbar ul#dd li.item a:hover { background:#000; color:#FFF;}
#navbar > ul#dd > li.item { z-index: 1000; }
#navbar > ul#dd > li.item > a:hover {
	background:#000;
	color:#FFF;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
    -moz-text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
    -webkit-text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
    border-color: #CCCCCC;
    border-radius: 3px 3px 0px 0px;
    border-style: solid;
    border-width: 1px;
    border-bottom-color: transparent;;
}

#navbar li.last { padding-left: 0.5em; }
#navbar li.last img { vertical-align: middle; }
#navbar li.last a {
    display: block;
    height: 2em;
    line-height: 2;
    float: left;
    padding: 0.2em 0;
    padding-left: 0.2em;
}

#navbar li.last { border-left: none; }
#navbar li.nav-donate { border-right: none; }

#right { width: 275px; font-size: 0.9em; vertical-align: top; }
#right350 { width: 350px; font-size: 0.9em; vertical-align: top; }
#left { padding: 0 1em 0 0; vertical-align: top; }
#sidebar { width: 250px; float: right; margin: 0.5em 0 1em 1em; font-size: small; }

article {
    font: 14px Helvetica, Arial, sans-serif;
    line-height: 1.4;
}

article h1:first-child { margin: 0; padding: 0; line-height: normal; }
article h1 a { color: black; }
article p, article blockquote { }
article blockquote { color: #333; }
article p.info { color: #777; font-family: Ubuntu, Arial, sans-serif; font-size: 0.8em;
                 margin-top: 0; }
#articles article:last-child { border-bottom: none; margin-bottom: 0; }

footer { clear: both; }
footer p { border-top: 1px solid #999; padding-top: 0.5em;
           font-size: 0.7em; text-align: right; }

.formtable th { text-align: right; vertical-align: top; padding-top: 0.5em;
                font-family: Arial, sans-serif; width: 100px;
                font-size: small; }
.formtable input[type="checkbox"] { margin-top: 0.6em; }
.formtable .helptext { font-size: small; color: #666; }
ul.errorlist { padding: 0; margin: 0; list-style-type: none;
               font-family: Arial, sans-serif; font-size: small; }
ul.errorlist li { color: red; font-weight: bold; padding: 0; margin: 0; }

#article-page { }

.editform { margin: 1em 0; }
.comment .content { margin: 1em 0; font-size: small; }
.comment .words { overflow: auto; width: 600px; }
.comment .info { color: #666; font-size: 0.9em; }
.comment .info .collapse { font: 10px verdana, arial, helvetica; color: #666; }
.comment .links { font-size: 0.9em; }
.comment .links a { margin: 0 0.15em; }
.comment .deleted { margin-left: -1em; }
.comment .deleted span { background: #eee; padding: 0.5em; }
.comment .links .upvoted { font-weight: bold; }
.comment .links .downvoted { font-weight: bold; }
.comment p, .comment blockquote { margin: 0.5em 0; }
.comment blockquote { margin-left: 0.2em; padding-left: 0.5em; border-left: 2px solid #aaa; }
.comment pre { margin: 1em; }
.removed { background: #fcc; }
.highlight { background: #fffbcc; }
.replies { margin-left: 3px; padding-left: 7px; border-left: 2px solid #eee; }
.collapsed .words { display: none; }
.collapsed .links { display: none; }
.collapsed .replies { display: none; }

.postform label { font-size: small; color: #666; }
.bigerror { color: red; font-size: big; font-weight: bold; }
.error { color: red; font-size: small; }
.warning { color: #a00; font-size: small; width: 30em; }
.loader { display: none; }
#postform a { font-size: small; }
.postform a { font-size: small; }

.message .on { background: #f2f2f2; }
.message .info { font-size: small; color: #777; margin-bottom: 0; }
.message .words p { margin: 0.5em 0; }

.attendee-info .links { margin-bottom: 0; }
.attendee-info .info { margin-top: 0; }
.yes { font-weight: bold; color: #0a0; }
.no { font-weight: bold; color: #a00; }
.maybe { font-weight: bold; color: #cd950c; }

.good { color: #0a0; font-size: small; font-weight: bold; }
.bad { color: #a00; font-size: small; font-weight: bold; }

.tinygray { font-size: small; color: #666; }

.funlist li { margin-bottom: 1em; }
.linklist li { margin-bottom: 0.3em; }

.bubble { font-size: 13px; }

.buttons { padding-top: 0.5em; padding-bottom: 1.5em; text-align: right; }
a.button, .words p > a {
    padding: 0.5em 1em 0.4em; font-size: .9em;
    box-shadow: -2px -2px 10px rgba(0,0,0,.25) inset, 2px 2px 3px white inset;
    -moz-box-shadow: -2px -2px 10px rgba(0,0,0,.25) inset, 2px 2px 3px white inset;
    -webkit-box-shadow: -2px -2px 10px rgba(0,0,0,.25) inset, 2px 2px 3px white inset;
    text-shadow: -1px -1px 0px rgba(0,0,0,0.2);
    -moz-text-shadow: -1px -1px 0px rgba(0,0,0,0.2);
    -webkit-text-shadow: -1px -1px 0px rgba(0,0,0,0.2);
    font-family: Helvetica, Arial; font-style:normal; border:1px solid #999; color:#000;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

}
a.button:active {
    box-shadow: 2px 2px 10px rgba(0,0,0,.25) inset, -2px -2px 3px white inset;
    -moz-box-shadow: 2px 2px 10px rgba(0,0,0,.25) inset, -2px -2px 3px white inset;
    -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,.25) inset, -2px -2px 3px white inset;
}
.gray { background: #666; color: white; font-weight: bold; }
.orange { background: #ee9a00; color: white; font-weight: bold; }

#right ul { padding-left: 1.5em; }

#recents h4 { margin-top: 0; }
#recents .item { padding: 3px -3px; padding: 3px; cursor: pointer; }
#recents .item:hover { background: #f3f3ff; }
#recents .item .info { font-size: x-small; color: #777; }
#recents .recent-comment .title { white-space: nowrap; overflow: hidden;
                                  text-overflow:ellipsis; max-width: 240px; }

#thread-list { margin: 1em 5px; }
#thread-list .item { margin: 0 -5px; padding: 3px; cursor: pointer; }
#thread-list .item:hover { background: #f3f3ff; }
#thread-list .item h3 { margin: 0; font-size: 1em; font-weight: normal; }
#thread-list .item .info { font-size: small; color: #555; }
.threadtype { color: #a00; }

#new-thread { margin-top: 1em; margin-bottom: 0.25em; }

#sql-info { position: absolute; top: 0; left: 0; background: #f6f6f6;
            width: 50%; border-right: 1px solid #ddd;
            border-left: 1px solid #ddd; }
#sql-info .info { background: #ffc; border-bottom: 1px solid #ddd;
                  cursor: pointer; padding: 0.25em; }
#sql-info .info span { color: #666; font-size: 0.8em; }
#sql-info .hidden { display: none; }
#sql-info .item { border-top: 2px solid #ddd; padding: 0.5em;
                  overflow: auto; }
#sql-info .item:first-child { border-top: none; }
#sql-info .item p { margin: 0; padding: 0; text-indent: -3em; margin-left: 3em;
                    font: 8pt "DeJavu Sans Mono", monospace; }
#mapright { width: 600px; font-size: 0.9em; vertical-align: top; }
